node_modules

**/.github
**/.gitignore
**/.vscode
**/coverage
**/.env
**/.aws
**/.ssh
Dockerfile
Dockerfile_local
.dockerignore
README.md
docker-compose.yml
**/.DS_Store
**/venv
**/env
**/dist
**/build