# Add files here to ignore them from prettier formatting
/.vscode/
pnpm-lock.yaml

# app-builder
/packages/app-builder/.cache/
/packages/app-builder/build/
/packages/app-builder/public/build/
/packages/app-builder/src/services/routes/routes.ts

# marble-api
/packages/marble-api/src/generated