name: Reusable check job

on:
  workflow_call:

permissions:
  contents: read
  actions: read

jobs:
  main:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.tool-versions'
          cache: 'pnpm'
      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: 2.0.0-beta.6

      - run: pnpm install --frozen-lockfile

      - run: |
          pnpm --filter marble-api exec swagger-cli validate openapis/marblecore-api.yaml
          pnpm --filter marble-api exec swagger-cli validate openapis/license-api.yaml
          pnpm --filter marble-api exec swagger-cli validate openapis/transfercheck-api.yaml
          pnpm --filter marble-api run generate-api
          git diff --exit-code || (echo 'Generated API stubs not up to date with OpenAPI specification.' && exit 1)

      - name: Run Biome
        run: biome ci .
      - run: pnpm run -r type-check
      - run: pnpm run test:all
      - run: pnpm run -r build
