name: Push on main (Check & Deploy)

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    permissions:
      contents: read
      actions: read
    uses: ./.github/workflows/check.yaml

  build_and_deploy_app_builder:
    needs: check
    permissions:
      contents: read
      actions: read
      id-token: "write" # needed for using open id token to authenticate with GCP
    uses: ./.github/workflows/build_and_deploy.yaml
    with:
      app: "app-builder"
      dockerfile: ./Dockerfile
      environment: "staging"
      version: latest
      SENTRY_RELEASE: ${{ github.sha }}
    secrets:
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      SEGMENT_WRITE_KEY_OPENSOURCE: ${{ secrets.SEGMENT_WRITE_KEY_OPENSOURCE }}

  build_and_deploy_backoffice:
    needs: check
    permissions:
      contents: read
      actions: read
      id-token: "write" # needed for using open id token to authenticate with GCP
    uses: ./.github/workflows/build_and_deploy.yaml
    with:
      app: "backoffice"
      dockerfile: ./Dockerfile.backoffice
      environment: "staging"
      version: latest
      SENTRY_RELEASE: ${{ github.sha }}
    secrets:
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      SEGMENT_WRITE_KEY_OPENSOURCE: ${{ secrets.SEGMENT_WRITE_KEY_OPENSOURCE }}
